#background {
    -fx-background-color: #050933;
    -fx-background: #0b1470;
}

#containerBackground {
    -fx-background-color: #070c41;
}

.button, .toggle-button {
    -fx-background-color:
            #000000,
            linear-gradient(#262f80, #142140),
            linear-gradient(#262c80, #141740),
            linear-gradient(#262880, #141540);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.button:hover, .toggle-button:hover {
    -fx-background-color:
            #000000,
            linear-gradient(#3c47b2, #22396e),
            linear-gradient(#323baf, #202567),
            linear-gradient(#3336b0, #1f2064);
}

.button:pressed .toggler-button:hover {
    -fx-background-color:
            #000000,
            linear-gradient(#3e4dd3, #1f3362),
            linear-gradient(#3942c9, #202565),
            linear-gradient(#3c3fcc, #202269);
}

.label {
    -fx-font-weight: bold;
}

/** SCROLLBAR RELATED **/
.scroll-pane{
    -fx-background: #0b1470;
    -fx-background-color: #050933;
}

.scroll-bar {
    -fx-background-color: #050933;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-bar .thumb {
    -fx-background-color: #070c41;
    -fx-border-insets: 2, 3, 4;
    -fx-border-radius: 3, 2, 1;
    -fx-border-color: #0b1470;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #050933;
    -fx-padding: 0 0 0 0;
}

.scroll-bar > .increment-button:hover,
.scroll-bar > .decrement-button:hover {
    -fx-background-color: #050933;
}

.scroll-bar:vertical > .increment-button,
.scroll-bar:vertical > .decrement-button {
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-padding: 0 0 0 0;
}

.scroll-bar:vertical {
    -fx-pref-width: 1em;
}

/** PROGRESS BAR RELATED **/
.progress-bar {
    -fx-accent: rgba(1, 67, 105, 0.85);
}

.progress-bar .bar {
    -fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.progress-bar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.1);
}
